<div class="well">
  <h3>Enter Your Reading!</h3>
  <ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>
  <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" style="margin-top: 5px;">
      {{selTest}} <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"><a class="dropdown-item" (click)="selectTest('Old Testament')">Old Testament</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="selectTest('New Testament')">New Testament</a></li>
    </ul>
  </div>
  <div class="btn-group" dropdown [isDisabled]="selTest == 'Select Testament'">
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" style="margin-top: 5px;">
      {{selBook}} <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem" *ngIf="selTest == 'Old Testament'"><a class="dropdown-item" *ngFor="let book of oldTestament" (click)="selectBook(book.name)">{{book.name}}</a></li>
      <li role="menuitem" *ngIf="selTest == 'New Testament'"><a class="dropdown-item" *ngFor="let book of newTestament" (click)="selectBook(book.name)">{{book.name}}</a></li>
    </ul>
  </div>
  <div class="btn-group" dropdown [isDisabled]="selBook == 'Select Book'" >
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" style="margin-top: 5px;">
      {{selChapter}} <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"><a class="dropdown-item" *ngFor="let chapter of numChapters" (click)="selectChapter(chapter)">{{chapter}}</a></li>
    </ul>
  </div>
  <label class="checkbox-inline"><input type="checkbox" [(ngModel)]="showNotes">Add Note</label>
  <div *ngIf="showNotes" class="form-group">
    <label>Note title: </label> <input type="text" [(ngModel)]="noteTitle" class="form-control">
    <label>Enter note here: </label><textarea type="text" rows="5" [(ngModel)]="noteBody" class="form-control"></textarea>
  </div>
  <br>
  <button class="btn btn-primary" [disabled]="selChapter == 'Select Chapter' || date == undefined || (showNotes && (!noteTitle || !noteBody))" (click)="saveEntry()" style="margin-top: 5px;">Log Reading</button>
</div>