<div class="container">
  <div class="jumbotron text-center">
    <h1>Bible Accountability App</h1>
    <p class="lead">Welcome to the shiny new Bible Accountability app!</p>
    <div> 
      <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    </div>
  </div>

  <h1>Purpose Statement</h1>
  <div class="well">
    <p>This web-app is intended to help accountability partners keep up with each others reading log.<br>
    This website is currently under active development. Please contact the author at <b>gabriellelc95@gmail.com</b> with feature requests.</p>
  </div>
</div>