<div class="jumbotron text-center">
	<h1>Bible Accountability App</h1>
	<p class="lead">Welcome to the shiny new Bible Accountability app!</p>
	<div> 
		<a class="btn btn-primary" [routerLink]="['/login']">Login</a>
		<a class="btn btn-primary" [routerLink]="['/register']">Register</a>
	</div>
</div>

<h1>Purpose Statement</h1>
<div class="well">
	<p>This web-app is intended to help accountability partners keep up with each others reading log.<br>
	This website is currently under active development. Please contact the author at <b>gabriellelc95@gmail.com</b> with feature requests.</p>
</div>

<h1>Upcoming Features</h1>
<div class="well">
	<ul>
		<li>Write notes about a day's reading (or just a particular passage)</li>
		<li>Ability to have separate lists of reading/notes and only share specific content with a friend</li>
		<li>Read the Bible directly from the site</li>
		<li>Add a custom Bible reading plan to follow</li>
		<li>Link reading lists to a plan and share the plan with a specific friend</li>
	</ul>
	<p>Are there any other features you would like to have? Or is there a feature on the list that you would like more than another feature? Go to the contact page and let me know!</p>
</div>