<h3>
  Reading History
</h3>

<div class="list-group">
  <span class="list-group-item row" *ngFor="let item of log">
    <button class="btn btn-link col-xs-11" style="white-space: normal;" (click)="editEntry(item)">Date: {{item.date.prettydate}} Text: {{item.book}} {{item.chapter}} </button>
    <button class="btn btn-sm pull-right col-xs-1 glyphicon glyphicon-remove" style="white-space: normal;" (click)="removeEntry(item)"></button>
  </span>
  <span *ngIf="length == 0">You haven't logged any readings. Get started now!</span>
</div>
