<h2 class="page-header">Connect with Friends!</h2>

<div>
  <tabset>
    <tab heading="Add Friends"><app-add-friend></app-add-friend></tab>
    <tab heading="View Pending Requests"><app-pendingfriend></app-pendingfriend></tab>
  </tabset>
</div>

<hr>

<h4>Friends</h4>
<div class="list-group">
  <span class="list-group-item" *ngIf="friendArray.length == 0">You have no friends. Send a friend request or two!</span>
  <span class="list-group-item" *ngFor="let friend of friendArray">{{friend.name}} -- {{friend.username}} 
    <button class="btn btn-default btn-xs pull-right glyphicon glyphicon-remove" (click)="removeFriend(friend)"></button>
    <button class="btn btn-default btn-xs pull-right" style="margin-right: 5px;" [routerLink]="['/friend', friend.username]">View Profile</button>
  </span>
</div>
